
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

/* Left Section */
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    background:#fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-size: 16px;
    color: #04486a;
    font-weight: bold;
    white-space: nowrap;
}
.logo{
    padding: 10px;
}

.bottlelogo{
    padding-left: 5px;
}

/* Right Section */
.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* User Info */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #2c3e50;
}

.user-name {
    font-weight: bold;
}


.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 1px solid rgb(205, 196, 196);
    justify-content: space-around;
    font-weight: lighter;
}

.filter-item {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 5px;
    padding-left: 20px;
}

.filter-i {
    font-weight: lighter;
}

label {
    font-size: 14px;
    color: #0e0d0d;
}

select, input[type="date"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgb(205, 196, 196);
    border-radius: 5px;
    
}

